
html{
    margin: auto;
}

body{
    font-size: 22px;
    
}


h1, 
div{
    text-align: center;

}



h1+p,
div+p{
    text-align: center;
}

.list-title{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: hsl(101, 95%, 26%);
}

.list-style{
    list-style: none;
}

button{
    font-size: 22px;
    background-color:blue;
    outline-style: double;
    

}

button a{ 
    color: white
}


.main{
    border: solid 2px black;
    padding:10px;
    margin: 10px auto;
}

.title{

}

.list{
    margin-right: 
}